
.contenedor{
    width: auto;
    height: auto;
    background-color: rgb(246, 114, 128);
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

}


.perfil{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    box-shadow: 0px 0px 50px rgb(6, 14, 20);

;
}


.titulo{
    font-size: 2.5rem;

}

